@import "../../../../assets/scss/palette.scss";

:host {
  display: inline-block;
  width: 100%;
}
.custom-select {
  min-width: 100%;
  position: relative;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  margin-top: 0.4rem;
  font-size: 1.15rem;
  padding: 0.555rem 0.8rem;
  background-color: $text-primary;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

